body {
	background-color: black;
}
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: white;
	margin-top: 60px;
}

/* 🥇 style the grid id and the .flip-card class */

/* 🥈 style the inner cards and get them ready to flip on hover */

/* 🥉 style the front and back of the cards */

img {
  margin: 0px;
	padding: 0px;
	height: 20vh;
	overflow: hidden;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	width: 100%;
}

.description{
  padding: 10px
}

h2 {
  background-color: lightgray;
  padding: 5px;
  margin-top: -6px;
}