body {
	background-color: black;
}
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: white;
	margin-top: 60px;
}

#grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	justify-items: center;
	align-items: center;
}

.flip-card {
	width: 100%;
	height: 50vh;
	perspective: 1000px;
}

.flip-card-inner {
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	border-radius: 0.5rem;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 0.5rem;
}

.flip-card-front {
	background-color: white;
	color: black;
}

.flip-card-back {
	background-color: white;
	color: black;
	transform: rotateY(180deg);
}

img {
	margin: 0px;
	padding: 0px;
	height: 20vh;
	overflow: hidden;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	width: 100%;
}

.description {
	padding: 10px;
}

h2 {
	background-color: lightgray;
	padding: 5px;
	margin-top: -6px;
}
